body{
	margin: 0;
	overflow-x: hidden;
}

.top{
	height: 100vh;
	width: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%,0% 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #21C4FF), color-stop(100, #5C6CFF));
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.headings{
	display: flex;
	height: 100%;
	align-items: center;
	padding:0 10% ; 
}

.heading{
	margin-top:-100px ;
	color: #fff;
	font-size: 90px;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.smHead{
	color: #fff;
	font-size: 23px;
	font-family: open sans;
}


.links{
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.button{
	display: flex;
	align-items: center;
	margin-left:30px ;
}

.text1{
	color: #fff;
	font-family: open sans;
	font-size:18px ;
}

.buttons{
	margin:20px 10px;
	color: #fff;
	font-family: open sans;
	font-size:20px ;
	border: 2px solid #fff;
	padding:10px 20px ;
	border-radius: 50px	;

}

.topbar{
	position: fixed;
	height:8vh ;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	top: 0;
	z-index: 1000;
	transition: all 0.3s ease;
}

.rightlist{
	display: flex;
	align-items: center;
	font-family: open sans;
	cursor: pointer;
	color: #fefefe;
}

.list{
	padding: 0 20px ;
	font-size:1em ;
}

.main{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom:20px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%,0% 100%);
	padding-top:150px ;
	margin-top:-100px; 
}

.content{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0 1.5%;

}

.icon{
	color:#5C6CFF;
	font-size:50px ;
	border: 2px solid #5C6CFF;
	padding: 30px 40px;
	border-radius: 100%;
	margin-bottom: 30px;
}

.con2{
	margin-top:-50px ;
}
.con3{
	margin-top:-100px ;
}

.text{
	margin:0  20px;
	font-family: open sans;
	text-align: center;
}

.doc{
	height: 80vh;
	width: 100%;
	clip-path: polygon(0% 20%, 100% 0%, 100% 80%,0% 100%);
	margin-top:-20px;
	display: flex;
}

.left{
	height: 80vh;
	clip-path: polygon(0% 20%, 100% 0%, 100% 100%,0% 100%);
	width: 50%;
	background: #222;
	color: #fff;
	display: flex;
	align-items: center;
	font-family: open sans;
	justify-content: center;
}

.right{
	color: #fff;
	font-family: open sans;
	justify-content:  center;
	display: flex;
	flex-direction: column;
	margin-top: -100px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #21C4FF), color-stop(100, #5C6CFF));
}

.head{
	font-size:35px ;
	margin:100px 40px 0 40px;
}

.rhead{
	font-size:15px ;
	margin:10px 40px 0 40px;
	width:600px ;
}

.left div{
	margin: 60px 50px 0 50px;
}

.change{
	font-size:25px ;
}

.cod{
	color: #A54A56;
}


.but{
	color: #fff;
	font-family: open sans;
	font-size:20px ;
	border: 2px solid #fff;
	padding:10px 20px ;
	border-radius: 50px	;
	width: 150px;
	text-align: center;
	margin-top: 30px;
	margin-left: 40px;

}

.about{
	margin-top:50px ;
	margin-left:100px ;
	padding-bottom: 20px;
}

.abhead{
	font-size: 35px;
	font-family: open sans;
	color: #222;
}

.abtext{
	font-size: 16px;
	font-family: open sans;
	color: #222;
	margin-right: 100px;
	margin-top: 30px;
}

.abtext div{
	font-size:24px ;
}

.line{
	width:300px ;
	height: 2px;
	background: #222;
	border-radius: 50px
}

.examples{
	margin-top: 40px;
	height:70vh ;
	width: 100%;
	margin-top: 50px;
	margin-left:  100px;
}

.exhead{
	font-size: 35px;
	font-family: open sans;
	color: #222;
}

.line2{
	width:160px ;
	height: 2px;
	background: #222;
	border-radius: 50px;
}

.ex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
	margin-left: -60px;
	padding-bottom: 50px;
}

.exbl{
	width:500px ;
	background:#222 ;
	height: 200px;
	position: relative;
	margin-top:50px ;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: open sans;
}

.t{
	margin: 20px 70px 0 70px;
}

.t2{
	margin: 20px 70px 0 70px;
	font-size: 13px	;
}

.extop{
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #21C4FF), color-stop(100, #5C6CFF));
	font-family: open sans;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media(max-width: 980px){
	.headings{
		padding: 0 5%;
	}

	.left{
		display: none;
	}
}

@media(max-width: 880px){
	.headings{
		height:50% ;
		justify-content: center;
		width: 100%;
		margin-top:120px ;
	}

	.heading{
		font-size: 70px;
	}

	.smHead{
		font-size:20px ;
	}

	.links{
		margin-top:-300px ;
	}

	.buttons{
		font-size: 18px;
	}
	.main{
		flex-direction: column;
		align-items: center;
		margin-top:0 ;
		clip-path: polygon(0% 0%, 100% 0%, 100% 80%,0% 100%);
		padding-top:0px ;
		padding-bottom: 100px;
	}
	.con2{
		margin-top:-0px ;
	}
	.con3{
		margin-top:-0px ;
	}

	.content{
		width:50% ;
		margin-bottom:40px ;
	}
}